body {
    margin: 0;
  }

.container{
    max-width: 1280px;
    margin: auto;
  }

.nav{
    background: rgb(10, 10, 10);
    color: antiquewhite;
    font-size: 130%;
    height: 50px;
  }

  a{
    text-decoration: none;
    color: aliceblue;
  }

.header{
    background: #222;
    color: aliceblue;
    height: 360px;
    text-align: center;
}

.header img{
    width: 100px;
} 