body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
  }

.container{
    max-width: 1280px;
    margin: auto;
  }

.nav{
    background: rgb(10, 10, 10);
    color: antiquewhite;
    font-size: 130%;
    height: 50px;
    text-align: center;
  }

  a{
    text-decoration: none;
    color: aliceblue;
  }

.header{
    background: #222;
    color: aliceblue;
    height: 400px;
    text-align: center;
}

.header img{
    width: 100px;
} 